<h1>{{pollName}}</h1>
<h3>Text your vote to {{phoneNum}}</h3>
<div id="chart"></div>

<p>Message and data rates may apply. Limit one vote per poll per phone number.</p>

<script type="text/javascript">
new PollView({{pollId}});
</script>